body{
    background: #3d0068;
    color: #666;
  }
  h1{
    text-align: center;
    color:#FEFF00;
  }
  .clearfix{
    clear: both;
  }
  #box{
    width: 350px;
    overflow: auto;
    margin: 40px auto;
    background: rgb(34, 0, 53);
    padding-bottom: 40px;
    border-radius: 10px;
  }
  #message{
    background: #333;
    color: #FEFF00;
  }
  #gameBoard li{
    float: left;
    margin: 10px;
    height: 70px;
    width: 70px;
    font-size: 50px;
    background: #310000;
    color: #ccc;
    list-style: none;
    text-align: center;
    border-radius: 60px;
  }

  #span{
    color:#FF0000;
 }
  
  #reset{
    border: 0;
    background: #444;
    color: #fff;
    width: 70%;
    padding: 15px;
    border-radius: 5px;
  }
  .o{
    color: green !important;
  }
  .x{
    color: red !important;
  }
  footer{
    display: block;
    text-align: center;
    padding-top: 50px;
  }